/.angular/cache
.idea/*
*.Ds_Store
node_modules/*
dist/*
/.vscode/
.node-version
deploy-newhuan.sh
yarn-error.log
proxy.conf.json
**/src/environment.js
.yalc/*
# vim cache files
*.swp
*.swo
**/cdn/cdnConfig.js
yarn.lock
package-lock.json