<ul class="nz-menu-container" nz-menu nzMode="inline">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menuList }"></ng-container>
  <ng-template #menuTpl let-menuList>
    <ng-container *ngFor="let menu of menuList">
      <li *ngIf="!menu.children" nz-menu-item [nzPaddingLeft]="menu.level * 24" [nzSelected]="menu.selected"
        (click)="changePage(menu.id)">
        <span class="title">{{ menu.title }}</span>
      </li>
      <li *ngIf="menu.children" nz-submenu [nzPaddingLeft]="menu.level * 24" [nzTitle]="menu.title" [nzOpen]="menu.open">
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>