<div class="container">
  <div class="left" (click)="jump('previous')">
    上一题
  </div>
  <div class="content">
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-card [nzTitle]="'queTitle'">
          <div class="question-container">
            <markdown [src]="questionMdSrc"></markdown>
            <nz-divider nzText="作答区域"></nz-divider>
            <div class="border">
              <ng-container #componentViewContainer></ng-container>
            </div>
            <button nz-button nzType="dashed" (click)="showAnalyse = !showAnalyse">{{showAnalyse ? '隐藏' : '查看'}}题解</button>
            <ng-container *ngIf="showAnalyse">
              <nz-divider nzText="题解"></nz-divider>
              <div class="border">
                <markdown [src]="analyseMdSrc"></markdown>
              </div>
            </ng-container>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  <div class="right" (click)="jump('next')">
    下一题
  </div>
</div>