.container {
  display: flex;
  justify-content: space-around;
  background: #ececec;
  .left,
  .right {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 150px;
    background: gray;
    user-select: none;
    font-size: 26px;
    
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  .content {
    width: 1280px;
    padding: 0px 30px;
  }
}
.border {
  padding: 8px;
  min-height: 100px;
  border: 1px dashed #000;
}

.question-container {
  height: calc(100vh - 167px);
  padding-bottom: 8px;
  overflow-y: auto;
}
