.navbar-container {
  height: 60px;
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    z-index: 1;
    img {
      margin: 0 16px;
      cursor: pointer;
    }
  }
  
}