:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar-container {
  height: 58px;
  .toolbar {
    display: flex;
    align-items: center;
    height: 58px;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    z-index: 1;
    img {
      margin: 0 16px;
      cursor: pointer;
    }
    .menu {
      padding: 18px;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: #000;
      }
    }
  }
}
.body-container {
  flex: 1;
}
