<div class="container">
  <div class="menu-container">
    <ul nz-menu nzMode="inline">
      <li nz-submenu nzTitle="Navigation One" nzOpen>
        <ul>
          <li nz-menu-group nzTitle="Item 1">
            <ul>
              <li nz-menu-item nzSelected>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Item 2">
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Two">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
              <li nz-submenu nzTitle="Submenu">
                <ul>
                  <li nz-menu-item>Option 9</li>
                  <li nz-menu-item>Option 10</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Navigation Three">
        <ul>
          <li nz-menu-item>Option 11</li>
          <li nz-menu-item>Option 12</li>
          <li nz-menu-item>Option 13</li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <div class="left" (click)="jump('previous')">
    上一题
  </div> -->
  <div class="content">
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-card>
          <div class="question-container">
            <app-markdown [src]="questionMdSrc"></app-markdown>
            <ng-container *ngIf="showAnswer">
              <nz-divider nzText="预期表现"></nz-divider>
              <div class="border">
                <ng-container #answerComponentRef></ng-container>
              </div>
            </ng-container>
            <nz-divider nzText="作答区域"></nz-divider>
            <div class="border">
              <ng-container #questionComponentRef></ng-container>
            </div>
            <button
              *ngIf="showAnalyseButton"
              nz-button
              nzType="dashed"
              (click)="showAnalyseContent = !showAnalyseContent">{{showAnalyse ? '隐藏' : '查看'}}题解</button>
            <ng-container *ngIf="showAnalyseContent">
              <nz-divider nzText="题解"></nz-divider>
              <div class="border">
                <app-markdown [src]="analyseMdSrc"></app-markdown>
              </div>
            </ng-container>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  <!-- <div class="right" (click)="jump('next')">
    下一题
  </div> -->
</div>