:host {
  display: flex;
  background: #ececec;
  height: calc(100vh - 58px);
}
.menu-container {
  width: 300px;
  background: #fff;
}
.content-container {
  flex: 1;
  padding: 0px 20px 20px;
  overflow-y: auto;
  background: #fff;
}
.border {
  padding: 8px;
  min-height: 100px;
  border: 1px dashed #000;
}